@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;700&display=swap');

* {
  box-sizing: border-box;
}

html {
  font-family: 'Noto Sans JP', sans-serif;
}

body {
  margin: 0;
  background-color: #3f3f3f;
}

*::-webkit-scrollbar-thumb {
  background-color: #9e9a9a;
  border-radius: 20px;
}

*::-webkit-scrollbar-track {
  /* background-color: #3f3f3f; */
  background-color: white;
}

*::-webkit-scrollbar {
  width: 6px;
}